@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@tailwind utilities;

:root {
  --background: #F2EFE9;
  --foreground: #171717;

  --spacing-32: 32px;
  --spacing-24: 24px;
  --spacing-16: 16px;

  --mantine-color-body: #F2EFE9 !important;
}

@theme {
  --color-white: #FFFFFF;
  --color-background: #f2efe9;
  --color-grey-primary: #E7E5DE;
  --color-grey-secondary: #D1CFC9;
  --color-soft-grey: #F2EFE9;
  --color-soft-black: #1E1E1E;
  --color-amerga-orange: #E57634;
  --color-amerga-orange-hover: #E88248; /* TODO trouver mieux comme couleur */
  --color-amerga-blue: #1D2172;

  --spacing-128: 128px;
  --spacing-80: 80px;
  --spacing-64: 64px;
  --spacing-48: 48px;
  --spacing-32: 32px;
  --spacing-24: 24px;
  --spacing-16: 16px;
  --spacing-8: 8px;
  --spacing-md: 1rem;
  --spacing-lg: 2.5rem;
  --spacing-container: 1280px;

  --font-display-franklin: 'Libre Franklin', sans-serif;
  --font-display-fira: 'Fira Sans Condensed', sans-serif;
}

html, body {
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: var(--background);
  font-family: var(--font-display-franklin), sans-serif;
  color: var(--color-soft-black);
}

/* les <h1> auront par défaut les styles définis ici */
@layer base {
  h1 {
    font-family: var(--font-display-fira), sans-serif;
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: -.18rem;
    line-height: normal;
    margin-bottom: var(--spacing-md);
  }
}

.orange-text {
  color: var(--color-amerga-orange);
}
